<div class="content-box">

  <h1>Tietoa Yhteentoimivuusalustan oikeuksienhallinnasta</h1>

  <p>
    Yhteentoimivuusalustan Oikeuksienhallinta -työkalulla määritellään alustan käyttöoikeudet: organisaatiot ja niiden käyttäjät. Tietojen muokkaus Yhteentoimivuusalustan työkaluissa edellyttää käyttäjän tunnistautumista ja työkalukohtaisia oikeuksia. Työkaluissa tietojen muokkausoikeudet ovat ainoastaan oman organisaation tietomääritysten ylläpitäjillä.
  </p>

  <p>Oikeuksienhallinnan käyttäjärooleja ovat:</p>

  <ul>
    <li>organisaation pääkäyttäjä (oikeuksien ylläpitäjä, muokkausoikeudet kaikkiin organisaation sisältöihin</li>
    <li>sanastotyöntekijä</li>
    <li>tietomallintaja</li>
    <li>koodistotyöntekijä</li>
    <li>jäsen</li>
  </ul>

  <p>
    Yhteentoimivuusalustan työkalujen käyttöönotto edellyttää käyttäjäorganisaatiolta rekisteröitymistä ja alustan käyttöehtojen hyväksymistä. Käyttäjäorganisaatio hakee palveluntuottajalta organisaation pääkäyttäjän oikeuden. Organisaation pääkäyttäjä hyväksyy tämän jälkeen muiden oman organisaation käyttäjien käyttöoikeushakemukset.
  </p>

  <p>
    Käyttäjien todentaminen (autentikointi) tehdään eDuuni-palvelussa (ks. <a id="eduuni_link" rel="noopener noreferrer" href="https://info.eduuni.fi/yleista/mika-on-eduuni/" target="_blank">https://info.eduuni.fi/yleista/mika-on-eduuni/</a>).
    Oikeuksienhallinnan sovellus käyttää eDuunin tietoja alustan pääsynhallintaan. Yhteentoimivuusalustan tietomäärityksen omistajuus liitetään sovelluksella aina yhteen tai useampaan organisaatioon. Yhteentoimivuusalustan työkalut tarkastavat oikeuksienhallintasovelluksesta, kuuluuko käyttäjä organisaatioon ja onko käyttäjällä oikeutta käyttää työkalua.
  </p>

  <p>Oikeuksienhallinnan lähtökohdat:</p>

  <ul>
    <li>Työkaluissa kehitettävät tietomääritykset (sanastot, tietomallit, koodistot) liitetään aina yhteen tai useampaan organisaatioon tai ryhmään</li>
    <li>Työkalu tarkistaa oikeuksienhallinnan sovelluksesta, onko käyttäjällä roolia (muokkausoikeuksia) kyseisessä organisaatiossa</li>
    <li>Käyttäjä voidaan liittää oikeuksienhallintapalvelussa useampaan organisaatioon eri rooleissa</li>
  </ul>

  <p>Kirjautumistavan käyttäjä voi valita itse. Luotettuja kirjautumistapoja ovat:</p>

  <ul>
    <li>Organisaation omat tunnukset, jos organisaatio on Haka-, Virtu tai eduGAIN-luottamusverkoston jäsen tai organisaatiolla on käytössä Microsoft Office 365 (Azure AD) palvelut.</li>
    <li>ORCID, B2ACCESS, MPASS – tunnukset.</li>
  </ul>

  <h2>Katso myös</h2>

  <ul>
    <li><a id="interoperability_site_link" rel="noopener noreferrer" href="http://yhteentoimiva.suomi.fi" target="_blank">yhteentoimiva.suomi.fi</a></li>
    <li>
      Yhteentoimivuusalustan julkinen dokumentaatio Confluencessa
      <ul>
        <li><a id="service_initialization_link" rel="noopener noreferrer" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21779517" target="_blank">Palvelun käyttöönotto</a></li>
        <li><a id="service_instructions_link" rel="noopener noreferrer" href="https://wiki.dvv.fi/pages/viewpage.action?pageId=21783347" target="_blank">Käyttöohjeet</a></li>
      </ul>
    </li>
  </ul>

  <h2>Ota yhteyttä</h2>

  <p>Sähköpostilla osoitteeseen yhteentoimivuus[at]dvv.fi</p>

</div>
